.hulu{
    color: aqua;
    background-color: blue;
}
input{
    display: block;
}
.card{
    max-width: 250px;
    margin-top: 40px;
    border-radius: 10px;
    display: inline-block;
    padding:20px;
    border: 2px solid #e3e3e3;
    background-color: bisque;
}
.card p{
    font-size: 12px;
    margin-top: 2px;
}
.profile{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.profile img{
       width: 100%;
       height: 100%;
       object-fit: cover;     
}